<h2>Listado de Héroes</h2>
<ul class="list-unstyled">
<!--  le pasamos la clase dinamicamente cuando se selecciona-->
<!--  [class.selected]="hero === selectedHero"-->
  <li *ngFor="let hero of heroes"
      class="item-list pointer"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <div>
      <span class="badge badge-secondary">{{hero.id}}</span>
      {{hero.name}}
    </div>
  </li>
</ul>
<!--le pasamos el if porque en la carga no se ha
creado aun el heroe seleccionado
Esto es para mostrar los datos de un heroe de la lista en
la misma página
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} Details</h2>
  <div>
    <span>id: </span>{{selectedHero.id}}
  </div>
  <div>
    <span>name: </span>{{selectedHero.name | uppercase}}
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name"
             placeholder="name"/>
    </label>
  </div>
</div>
-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
